.layout {
    display: flex;
    justify-content: center;

}
a{
    display: block;
    text-decoration: none;
}
@media(min-width:1300px){
    .layout-box{
        flex-basis: 1250px;
    }
}
@media(min-width:1074px)and(max-width:1299px){
    .layout-box{
        flex-basis: 1024px;
    }
}
// @media(min-width:1300px){
//     .layout-box{
//         flex-basis: 1024px;
//     }
// }
