:root {
    --color-main: #212529;
    // --home-page1-color: #fff;
    // --slide-height: 550px;
    // --oder-bg-header:#f7f7f7;
    // --radio-r:20px;
    // --radio-checked:25px;
}

@media (min-width: 1366px) {
    :root {
        --grid-gap-col: 30px;
        // --header-height: 112px;
        --grid-gap-col-mg: -40px;
        --grid-gap-col-mg-lap-pc: -40px;
        --product-mg: 0;
        --pd-message: 36px;
        --layout-no-pd: 1040px;
        // --slide-height: 550px;
    }
}
@media (min-width: 1024px) and(max-width:1365px) {
    :root {
        --grid-gap-col: 30px;
        // --header-height: 112px;
        --grid-gap-col-mg: -32px;
        --grid-gap-col-mg-lap-pc: -32px;
        --product-mg: 0;
        // --pd-message: 36px;
        // --layout-no-pd: 864px;
        // --slide-height: 500px;
    }
}
@media (min-width: 768px) and(max-width:1023px) {
    :root {
        --grid-gap-col: 24px;
        // --header-height: 112px;
        --grid-gap-col-mg: -24px;
        --grid-gap-col-mg-lap-pc: 0;
        --product-mg: 0;
        // --pd-message: 36px;
        --layout-no-pd: 668px;
        // --slide-height: 450px;
    }
}
@media (max-width: 767.5px) {
    :root {
        --grid-gap-col: 0px;
        // --header-height: 112px;
        --grid-gap-col-mg: -0px;
        --grid-gap-col-mg-lap-pc: 0;
        --product-mg: 0;
        --pd-message: 36px;
        --slide-height: 350px;
        --layout-no-pd: calc(100% - 32px * 2);
    }
}
