.filter__label {
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: red;
    margin-left: 10px;
    position: relative;
    color: #fff;
    padding-left: 15px;
    &.can-click {
        cursor: pointer;
        text-align: center;
        padding-left: 0;
    }
    &.not-active {
        background-color: gray;
    }
    p {
        font-size: 8px;
        line-height: 25px;
    }
    i {
        font-size: 14px;
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
