.header {
    height: 100px;
    // position: fixed;
    width: 100%;
    background-color: #3399ff;
}
.header-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.header__link-box {
    display: flex;
    & > * {
        margin-right: 20px;
    }
}
.header__link {
    &.logo {
        font-size: 30px;
        font-weight: 800;
    }
    height: 100%;
    line-height: 100px;
    color: #fff;
    cursor: pointer;
    &:not(.logo) {
        font-size: 15px;
    }
}
