.container__product{
    display: flex;
}
.container__product-filter{
    background-color: #fff;
    flex: 1;
    margin-right: 1px;
    padding: 20px;
}
.container__product-show{
    flex: 4;
    background-color: #fff;
}
