.form-title{
    margin-bottom: 5px;
    
}
.form__submit{
    margin-top: 30px;
    width: 300px;
    height: 48px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 57, 69);
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    text-transform: capitalize;
    cursor: pointer;
}