.todo-item {
    display: flex;
    cursor: pointer;
    &:hover{
        color: red;
    }
    &.done {
        p {
            color: #d9d9d9;
            text-decoration: line-through;
        }
        button {
            display: block;
            
        }
    }
    &.not-done {
    }
}
